<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EmployeeRestAPISuite">
<listeners>
        <listener class-name="com.employeeapi.utilities.Listeners"/>
</listeners>
  <test thread-count="5" name="EmployeesRestAPITest">
    <classes>
      <class name="com.employeeapi.testCases.Test_GetSingleEmployeeRecord"/>
      <class name="com.employeeapi.testCases.Test_GetAllEmployees"/>
      <class name="com.employeeapi.testCases.Test_CreateNewEmployeeRecord"/>
      <class name="com.employeeapi.testCases.Test_UpdateSingleEmployeeRecord"/>
      <class name="com.employeeapi.testCases.Test_DeleteEmployeeRecord"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
